@import url('https://fonts.googleapis.com/css?family=Roboto:900');

body {
	font-size: 14px;
}

.header {
	padding: 10%;
	text-align: center;
	display: block;
}

svg {
	max-width: 600px;
}

.we {
	font-size: 8rem;
	font-family: 'Roboto', sans-serif;
	color: #B0B0B0;
	padding-left: -40%
}

ul,li {
	list-style-type: none;
	padding: 0;
}

.nav {
	position: relative;
	display: block;
	float: left;
	max-width: 20%;
	padding-left: 25%;
	font-family: 'Roboto', sans-serif;
	padding-right: 30px;
}

div ul li a {
	text-decoration: none;
	color: #B0B0B0;
	font-size: 1.3rem;
}

div ul li a:hover {
	color: #000;
}

div ul li:firts-child {
	font-size: 6rem;
}

li.active {
	padding-left: 6em;
}

.tab-content.hide{
    display: none;
}

div.target {
	position: absolute;
    padding-left: 40%;
}

.tab-content.active{
    display: block;
}