@import url('https://fonts.googleapis.com/css?family=Roboto:900');

.header {
	padding-top: 6%;
	text-align: center;
	display: block;
}

svg {
	text-align: center;
	max-width: 250px;
}

.contenedor {
	text-align: center;
	padding-top: 2%;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}

input {
	display: inline-block;
	height: 20px;
	width: 145px; 
	margin-top: 20px;
}

textarea {
	display: block;
	margin-top: 30px;
	min-height: 200px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;

}

input[name="_gotcha"] {
	display:none
}

input[type="submit"]:hover {
	color: #d00;
} 