@import url('https://fonts.googleapis.com/css?family=Roboto:900');

body {
	font-size: 14px;
}

.header {
	padding-top: 6%;
	text-align: center;
	display: block;
}

.footer {
	position: fixed;
	bottom: 0px;
	max-width: 350px;
	text-align: center;
	left: 50%;
	margin-left: -175px;
}

svg {
	max-width: 350px;
	/*background-color: rgba(0,0,0,0.05);*/
	z-index: 2;
	position: relative;
}

.contenedor {
	position: fixed;
	width: 400p	x;
	left: 50%;
	margin-left: -220px;
	height: 200px;
	top: 50%;
	margin-top: -100px;

}

.we {
	font-size: 6rem;
	line-height: 0px;
	font-family: 'Roboto', sans-serif;
	color: #B0B0B0;
	position: relative;
	top: 147px;
	display: inline;
}

ul,li {
	list-style-type: none;
	padding: 0;
}

.slide {
	position: relative;
	vertical-align: top;
	left: 180px;
}

.cb-slideshow li div { 
	display: inline;
	position: absolute;
    z-index: 1;
    opacity: 0;
    color: #000;
    animation: titleAnimation 6s linear infinite 0s;     
}

.cb-slideshow li div h3 { 
    font-family: 'Roboto', sans-serif;
    font-size: 6rem;
    padding: 0;
    line-height: 0px;
}

.cb-slideshow li:nth-child(2) div { 
    animation-delay: 2s; 
}
.cb-slideshow li:nth-child(3) div { 
    animation-delay: 4s; 
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}


/* Sección de queries */


@media (max-width: 600px) {

	body {
		font-size: 12px;
	}

	svg {
		max-width: 250px;
	}

	.we {
		font-size: 3.5rem;
		top: 90px;
	}

	.cb-slideshow li div h3 {
		font-size: 3.5rem;
	}

	.slide {
		left: 95px;
	}

	.contenedor {
		position: fixed;
		width: 400p	x;
		left: 50%;
		margin-left: -125px;
		height: 200px;
		top: 50%;
		margin-top: -90px;
	}

	.footer {
		max-width: 180px;
		margin-left: -90px;
	}

}