@import url('https://fonts.googleapis.com/css?family=Roboto:900');

body {
	font-size: 14px;
}

.header {
	padding-top: 6%;
	text-align: center;
	display: block;
}

svg {
	max-width: 600px;
	/*background-color: rgba(0,0,0,0.05);*/
	z-index: 2;
	position: relative;
}

.contenedor {
	position: relative;
	padding: 0 auto;
}

.we {
	font-size: 6rem;
	line-height: 0px;
	font-family: 'Roboto', sans-serif;
	color: #B0B0B0;
	position: relative;
	top: 110px;
	display: inline;
}

ul,li {
	list-style-type: none;
	padding: 0;
}

.slide {
	position: relative;
	display: inline;
	vertical-align: top;
	left: 180px;
	float: left;
}

.cb-slideshow li div { 
    z-index: 1;
    position: absolute;
    opacity: 0;
    color: #000;
    animation: titleAnimation 6s linear infinite 0s;
     
}
.cb-slideshow li div h3 { 
    font-family: 'Roboto', sans-serif;
    font-size: 6rem;
    padding: 0;
    line-height: 0px; 
}

.cb-slideshow li:nth-child(2) div { 
    animation-delay: 2s; 
}
.cb-slideshow li:nth-child(3) div { 
    animation-delay: 4s; 
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}