@font-face {
    font-family: 'quicksandlight';
    src: url('/font/quicksand-light-webfont.woff2') format('woff2'),
         url('/font/quicksand-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
	font-size: 14px;
}

.header {
	text-align: center;
	padding: 5%;
	font-family: 'quicksandlight';
	font-size: 3rem;
}

h1 {
	font-size: 6rem;
}

.header {
	color: #6F6E6E;
}

.impact {
	color: #B0B0B0;
	padding-left: 10%
}

.servicios {
	padding-left: 20%;
}

.especificos {
	color: #DC901B;
	display: none;
}

li,ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: #B0B0B0;
	font-size: 1.3rem;
}

a[href="/"]:hover {
	color: #000;
}

a[href="/"]:active {
	color: #000;
	padding-left: 4em;
}