<div class="contacto">
	<a class="email" href="/contacto.html">@</a>
	<a href="https://www.facebook.com/Taller-La-PAZ-1846486378972230/" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
	<a href="https://www.instagram.com/tallerlapaz/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
</div>

<footer>
	<div class="footer">
		<p class="footer-cont">© 2017 Taller La Paz</p>
	</div>
</footer>

<script src="js/contact-form.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV9jTlWNa9SW4BgaU8-4tl7cowddrd8Dk&callback=myMap"></script>