<div class="dropdown">
  
  <i onclick="myFunction()" id="dropbtn" class="fa fa-bars fa-6" aria-hidden="true"></i>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Print</a>
    <a href="#">Frame</a>
    <a href="#">Show</a>
    <a href="contacto.html">Contact</a>
  </div>
</div>

<div class="logo"><a class="header" href="/">{% include icons/logo.html %}</a></div>



<script type="text/javascript">
	
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsById("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

</script>