<!-- Services Section -->
    <section id="print">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">We print</h2>
                    <h3 class="section-subheading text-muted">Imprimimos arte</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Gestión de color</h4>
                    <p class="text-muted">Usamos hardware y software de alta calidad para controlar y gestionar el color basados en estándares internacionales</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Materiales de conservación</h4>
                    <p class="text-muted">Disponemos de materiales para impresión con la calidad y capacidad de conservación necesarios para la producción de arte</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Papeles fotográficos</h4>
                    <p class="text-muted">También imprimimos en papeles fotográficos de alta calidad</p>
                </div>
            </div>
        </div>
    </section>
